
img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
  }


/*-------------Icons style--------*/



.headeritems1__list {
    color: white;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    gap: 1.5em;
    
    .header__item--last1 {
        display: flex;
        background-color: #1697f1;
        color: #ffffff;
        height: 1.7em;
        width: 7em;
        margin-right: 0.3em;
        margin-top: 0.6em;
        border-radius: 3%;
        align-items: center;
        gap: 0.5em;
    }
}

/*....header2......*/

.headeritems2{
    background-color: black;
}

.headeritems1__form {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    
    height: 25px;
    width: 300px;
    margin-top: 0.5em;
    padding-inline: 0.2rem;
}
.header__item2 {
    display: flex;
    color: white;
    align-items: center;
    
    
}

.headeritems__input {
    border: none;
    background: none;
    padding-block: 0.15rem;
    width: 100%;
}

.headeritems__input::placeholder {
    color: gray;
}

.headeritems1_logo {
    width: 50px;
    margin-right: 29em;
}





/*------------------menu style----------*/

.menu {
    background-color: black;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 27px;
    height: 3em;
    padding-top: 1em;

    .menu__item {
        display: flex;

        .menu__link {
            font-family: 'Museo Sans Rounded 500';
            text-decoration: none;
            color: white;
            font-size: smaller;
            transition: 200ms;

            &:hover {
                color: #9b8d67;
            }
        }
    }

    [aria-current="page"] {
        color: #9b8d67;
    }
}

.menu__link {
    cursor: pointer;
    text-decoration: none;
    color: inherit; /* Adjust this as needed */
  
    &:hover {
      text-decoration: underline; /* or any hover effect you prefer */
    }
  }
